
<div class="sign-in-form">
  <h2 class='sign-in'> Sign in! </h2>
    <%= form_tag(session_path) do %>
      <span class="helvetica">Enter your email </span> &nbsp; &nbsp;
      <%= text_field_tag(:email) %></br>
      <span class='helvetica'>Enter your password</span> &nbsp; &nbsp;
      <%= text_field_tag(:password) %></br></br>
      <%= button_tag 'Login', :class => 'login-button'  %>
    <% end %>
</br>
  <div>
    <span class="helvetica"> New user? <%= link_to('Sign Up!', new_user_path) %> </span>
  </div>
</div>
