
<div class="new-user-form"/>

  <%= form_for @user do |f| %>
    <span class="helvetica"> What's your email address? &nbsp; &nbsp; </span>
    <%= f.text_field :email %></br>
    <span class="helvetica"> What's your name? &nbsp; &nbsp; </span>
    <%= f.text_field :name %></br>
    <span class="helvetica"> Where are you from? &nbsp; &nbsp; </span>
    <%= f.text_field :country %></br>
    <span class="helvetica"> Please enter a password &nbsp; &nbsp; </span>
    <%= f.password_field :password %></br></br>
    <%= f.button "create",:class => 'submitb' %>
  <% end %>

</div>
