<!DOCTYPE html>
<html>
<head>
  <title>EslApp</title>
</head>
<body>

<h1> <%= link_to( "logout",session_path, method: 'delete') %>    /////            APPNAME/////MY PROFILE</h1>
<%= yield %>

</body>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</html>
